bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
appsettings.json
!appsettings.Development.json
*.dll
*.exe
*.log
*.vspscc
*.vssscc
docker-compose.yml
*.env
Dockerfile*
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.code-workspace
*.iml
*.ipr
*.iws
*.orig
*.key
*.pfx
*.pem
*.crt
project.lock.json
project.fragment.lock.json
*.tmp
*.bak
*.swp
